@using MojaBiblioteka.Models.Entities.Book;
@using MojaBiblioteka.Models.ViewModels.Messages;
@model IEnumerable<Book>

@{
    ViewData["Title"] = "Spis książek";
    Message mess = null;
    if (ViewData["message"] != null && !string.IsNullOrWhiteSpace((string)ViewData["message"]))
    {
        mess = new Message { MessageText = (string)ViewData["message"], Type = (int) ViewData["type"] };
    }
}

<h1>Spis</h1>
@Html.Partial("../Connector/_AlertMessage", mess)
<p>
    @if (
        Context.User.IsInRole("Admin") ||
        Context.User.IsInRole("Employee")
    )
    {
        <a asp-action="Create">Dodaj książkę</a>
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td class="text-capitalize">
                    @if(item.BookAuthor is null || item.BookAuthor.Count() == 0)
                    {
                        @:Brak
                    }

                    @foreach(var bAuthor in item.BookAuthor)
                    {

                            string? dateToDisplay = bAuthor.Author.DateOfBirth is null ?
                                "" :
                                ", " +  bAuthor.Author.DateOfBirth.ToString().Split(' ')[0];

                        @Html.Encode(
                            bAuthor.Author.FirstName.FirstName + " " + 
                            bAuthor.Author.Surname.Surname +
                            dateToDisplay
                        );
                        <br />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @{
                    // which element in loop
                    var counter = 1;

                    if (item.BookCategory is null || item.BookCategory.Count() == 0)
                        @Html.Raw("Brak");

                    foreach (var bCategory in item.BookCategory)
                    {
                        @bCategory.Category.Name @(counter == item.BookCategory.Count() ? "" : ", ");
                        counter++;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.Raw(item.Amount == 0 ? "Brak" : item.Amount)
            </td>
            <td>
                @if (Context.User.IsInRole("Client"))
                {
                    <form 
                        method="POST"
                        asp-controller="RentalTransactions"
                        asp-action="Create"
                        asp-route-bookIsbn="@item.Isbn"
                    >
                        <input 
                            type="submit" 
                            value="Wypożycz" 
                            class="btn btn-primary"
                            @Html.Raw(item.Amount == 0 ? "disabled" : "")
                        />
                    </form>
                }
                @if(
                    Context.User.IsInRole("Admin") ||
                    Context.User.IsInRole("Employee")
                )                
                {
                    <a asp-action="Edit" asp-route-id="@item.Isbn">Edytuj</a> @Html.Raw("|");
                    <a asp-action="Details" asp-route-id="@item.Isbn"> Opis </a> @Html.Raw("|");
                    <a asp-action="Delete" asp-route-id="@item.Isbn"> Usuń </a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
