@using MojaBiblioteka.Models.Entities.Connector;
@using MojaBiblioteka.Models.ViewModels.Connector;
@model IEnumerable<MojaBiblioteka.Models.Entities.Connector.RentalTransaction>

@{
    ViewData["Title"] = "Spis wypożyczeń";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdminOrEmployee = User.IsInRole("Admin") || User.IsInRole("Employee");
}

<h1>Spis</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProlongTermCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Encode(item.Book.Title + ", " + item.Book.Publisher.Name + ", " + item.Book.ReleaseDate.ToString().Split(' ')[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProlongTermCounter)
            </td>
            <td>
                @Html.Raw(RentalTransactionsVM.GetStatusText(item.Status))
            </td>
            <td>
                @{
                    if(
                        item.Status == (int) BookStatus.Ordered ||
                        item.Status == (int) BookStatus.ReadyToPickUp
                    )
                    {
                        @*
                        First I have to change ID in RentalTransactions
                        <form 
                            method="POST"
                            asp-action="Cancel"
                        >
                            <input type="hidden" asp-for="@item.BookIsbn">
                        </form>
                        *@
                        @Html.Raw("Cancel ");
                    }
                        

                    if(item.Status == (int) BookStatus.PickedUp)
                        @Html.Raw("Prolong term ");
                        
                    if(User.IsInRole("Client")){
                        @Html.ActionLink("Opis", "Details", new { /* id=item.PrimaryKey */ });
                    }

                    if (isAdminOrEmployee)
                    {
                        @Html.ActionLink("Edytuj", "Edit", new { /* id=item.PrimaryKey */ }) @Html.Raw(" | ")
                        @Html.ActionLink("Opis", "Details", new { /* id=item.PrimaryKey */ }); @Html.Raw(" | ");
                        @Html.ActionLink("Usuń", "Delete", new { /* id=item.PrimaryKey */ });
                    }
                        
                }
            </td>
        </tr>
}
    </tbody>
</table>
